.header-bg {
  background-color: var(--cor-5);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 60px;
}

.ul-list {
  display: flex;
  color: var(--cor-2);
  gap: 1.25rem 1.25rem;
  text-transform: uppercase;
}

.ul-list a {
  display: block;
  padding: 10px;
}


.ul-list a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: var(--cor-5);
  transition: .4s;
}

.ul-list a:hover::after {
  width: 100%;
  background: var(--cor-3);
}

@media (max-width: 800px) {
  .ul-list a::after {
    display: none;
  }
  .ul-list a:hover::after {
    display: none;
  }
  .ul-list  {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header img {
    margin: 0 auto;
  }
  .ul-list a {
    font-size: 0.875rem;
    border-radius: 4px;
    background-color: #094fbf3f;
  }
}

@media (max-width: 560px) {
  .header {
    justify-content: center;
  }
}